.App {
  text-align: center;
}

.header {
  padding: 40px;
  background-color: #282c34;
  color: white;
}

.headerTitle {
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}

.content {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}

.mainContent {
  width: 60%
}

.cardList {
  width: 25%;
}

.card {
  margin-bottom: 50px;
}

.cardChanel {
  font-size: 24px;
  line-height: 30px;
  margin: 15px 0;
  color: rgb(45, 5, 78);
  cursor: pointer;
}

.cardChanel:focus,
.cardChanel:hover {
  opacity: 0.6;
}

.cardName {
  margin: 0;
}