.App {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  padding: 10px;
  background-image: url(https://cdn.pixabay.com/photo/2017/03/25/17/55/color-2174045__340.png) ;
  background-size: cover;
  color: white;
  
}

.headerTitle {
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.mainContent {
  width: 80%

}

.cardList {
  /* width: 25%; */
margin: 10px
}

 /* -----------card------------*/
.card {
  margin-bottom: 20px;

  /* display: flex;
  justify-content: space-between; */
}

 .descrCard{
  /* width: 35%; */
  font-size: 14px;
} 
.cardChanel {
  font-size: 20px;
  line-height: 30px;
  margin: 1px 0;
  color: rgb(45, 5, 78);
  cursor: pointer;
}
.cardChanel:focus,
.cardChanel:hover {
  opacity: 0.6;
}
.cardName {
  margin: 0;
  font-size: 14px;
}


 /* -----------review ------------*/
.reviewLikes {
  display: flex;
  justify-content: space-between;
}

.review {
margin-top: 10px;
width: 60%;
}

.review-field {
  border: 1px solid rgb(100, 100, 102);
  width: 100%;

}
/* -----------likes------------*/
.likes {
  display: flex;
  justify-content: flex-start;
  width: 20%;
  margin: 0 auto 10px auto; 
  color:salmon;
}

.likes img{
    width: 80px ;
  
}

.buttonLike {
  display: flex;
  
  font-size: 30px;
  align-items: center;

}

/* --------------searchBar-------- */
.searchBar {
  margin-bottom: 15px;
  display: flex;
  width: 55%;
  border: 1px solid rgb(100, 100, 102);
  padding: 0 10px;
}

.search-icon {
  margin-right: 15px;
}
