.App {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  padding: 10px;
  background-color: #282c34;
  color: white;
  
}

.headerTitle {
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.mainContent {
  width: 70%

}

.cardList {
  width: 20%;

}

.card {
  margin-bottom: 20px;
  /* display: flex;
  justify-content: space-between; */
}

/* .descrCard{
  width: 35%;
  font-size: 14px;
} */
.cardChanel {
  font-size: 20px;
  line-height: 30px;
  margin: 1px 0;
  color: rgb(45, 5, 78);
  cursor: pointer;
}

.cardChanel:focus,
.cardChanel:hover {
  opacity: 0.6;
}

.cardName {
  margin: 0;
  font-size: 14px;
}

.buttonLike {
  display: flex;
  width: 20%;
  font-size: 30px;
  align-items: center;

}

.likes {
  display: flex;
  justify-content: space-between;
  width: 200px ;
  margin: 0 auto 15px auto;
}

.searchBar {
  margin-bottom: 20px;
  display: flex;
  width: 50%;
  border: 1px solid rgb(100, 100, 102);
  padding: 0 15px;
}

.search-icon {
  margin-right: 15px;
}

.review-field {
  border: 1px solid blue;
  width: 100%;

}